main {
    padding-top: 60px;
}

#landing {
    background-image: url("../../assets/jpg/PatternBright-05.jpg");
    padding-top: 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;
}

#about {
    background-image: url("../../assets/png/Projects/background.png");
    padding-top: 80px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;
}

#projects {
    background-image: url("../../assets/png/Projects/background-projects.png");
    padding-top: 80px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;
}

#contact {
    background-image: url("../../assets/png/Projects/background.png");
    padding-top: 40px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    margin-top: 70px;
}