.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  perspective: 500px;
  justify-content: center;
  transform-style: preserve-3d;
  height: 100%;
  margin: 0 5% 0 5%;
  z-index: 1;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.card-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #1F2937;
}

.card-content {
  text-align: center;
  font-size: 1rem;
  color: #4B5563;
  max-width: 450px;
  margin-top: 5px;
}

.card-container {
  display: flex;
  position: absolute;
  transform: rotateX(calc(var(--offset) * 65deg)) scaleX(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateY(calc(var(--direction) * -4rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
  width: 100%;
}

.card-cover {
  display: flex;
  justify-content: flex-start;
  max-width: 50%;
  min-height: 50%;
  height: 500px;
  width: 850px;
  padding: 2rem;
  background-color: hsl(172, 21%, calc(100% - var(--abs-offset) * 89%));
  border-radius: 1rem;
  color: #9CA3AF;
  text-align: justify;
  transition: all 0.3s ease-out;
}

.card-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  transition: all 0.5s ease-in-out;
}

.project_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.project_button button {
  height: 40px;
  min-width: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project_button button:hover {
    transform: scale(1.1);
}

.card h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0.7em;
  color: #1F2937;
}
.card p, .card h2 {
  transition: all 0.3s ease-out;
  opacity: var(--active);
}

.projects-nav {
  color: white;
  font-size: 8rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: unset;
  border: unset;
}
.projects-nav.up {
  top: 40%;
  left: 50%;
  transform: translatey(-280%);
}
.projects-nav.down {
  bottom: 30%;
  left: 50%;
  transform: translatey(280%);
}

@media(max-width: 1025px) {
  .card-wrapper {
    flex-direction: column;
    gap: 200px;
  }

  .projects-nav.up {
    top: 5%;
    transform: translateX(0%) translatey(50%);
  }
  .projects-nav.down {
    bottom: 5%;
    transform: translateX(0%) translatey(-40%);
  }
}

@media(max-width: 768px) {
  .card-cover {
    max-width: 90%;
  }
  .projects-nav.up {
    top: 23%;
    left: 40%;
    transform: translatey(-280%);
  }
  .projects-nav.down {
    bottom: 46%;
    left: 40%;
    transform: translatey(280%);
  }
}

@media(max-width: 430px) {
  .carousel {
    margin: 0;
  }
  .card-cover {
    max-width: 70%;
    height: 200px;
  }

  .card-wrapper {
    width: auto;
    height: auto;
    margin: 0;
  }

  .card-infos {
    margin: 10px;
  }

  .projects-nav {
    font-size: 5rem;
  }

  .projects-nav.up {
    top: 20%;
    left: 40%;
    transform: translatey(-280%);
  }
  .projects-nav.down {
    bottom: 50%;
    left: 40%;
    transform: translatey(280%);
  }
}